body {
  padding-top: 70px;
}
.container-fluid{
  padding:0!important;
}
.main {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.form {
  /*max-width: 500px;*/
  margin: 0 auto 0 auto;
}

#map {
  height: 400px;
  margin-bottom: 20px;
}

.imgNav {
  width: 50px;
}

.navbar-brand {
  padding-top: 15px !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding:20px;
}

.containerCard {
  padding: 0 16px;
}

.title {
  color: grey;
  font-size: 18px;
  text-align: left;
}

.clientDetail{
  margin-left: 20px;
}
