body {
  padding-top: 60px;
}

.jumbotron {
  background-color: transparent !important;
  margin-bottom: 0!important;
}

.clientTitle{
  /*background-color: #2c3e50;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 15px;
  color: #fff;*/
}

.breadcrumb{
  background-color: transparent !important;
}

.container-fluid{
  padding:0!important;
}
.main {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.loginBtn{
  padding-top: 5px!important;
}

.form {
  /*max-width: 500px;*/
  margin: 0 auto 0 auto;
}

#map {
  height: 400px;
  margin-bottom: 20px;
}

.imgNav {
  width: 50px;
}

.navbar-brand {
  padding-top: 15px !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding:20px;
}

.containerCard {
  padding: 0 16px;
}

.title {
  color: grey;
  font-size: 18px;
  text-align: left;
}

.clientDetail{
  margin-left: 20px;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}


.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad{
  margin-top:20px;
}
